

<h1>Customers</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
        <th>Customer ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Residential address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
    <td><%= customer.client_id %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.residential_address %></td>
        <td><%= customer.phone %></td>

        
        <td><%= link_to 'Show', customer , class:'btn btn-warning'%></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class:'btn btn-success' %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Customer', new_customer_path, class:"btn btn-secondary" %>
<%=link_to'Back', root_path, class:"btn btn-primary" %>