<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%= stylesheet_link_tag "post" %>
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--Imported script to help us with the side bar navigation-->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
</head>

<body>
<section id="banner">
        

        <!---Text to be displayed in our banner section--->
        <div class="banner-text">
            <h2 class="banner-head">Home of Gardening Services</h2>
            <p ><i class="motto">Your grass is always cleaner on our side</i></p>


            <!---2 buttons to be displayed-->
            <div class="banner-btn">
                <a href="#"><span></span>Find Out</a>
                <a href="#"><span></span>Read More</a>
            </div>
        </div>

    </section>

<section id="features">

        <div class="title-text">
            <p>FEATURES</p>
            <h1>Why Choose Us</h1>
        </div>


        <div class="feature-box">
            <!---Feature Title-->


            <div class="feature-title">

                <!---First title-->
                <h2>• Experienced Staff</h2>


                <!--Feature description-->
                <div class="feature-desc">
                    <div class="feature-icon"></div>

                    <!--Feature text-->
                    <div class="feature-text">
                        <p>We have very capable and skill staff onboard that are ready to serve and help our beloved customers at any point in time.</p>
                    </div>
                </div>



                <!---Second title-->
                <h2>• Afforable Cost of Service </h2>


                <!--Feature description-->
                <div class="feature-desc">
                    <div class="feature-icon"></div>

                    <!--Feature text-->
                    <div class="feature-text">
                        <p>No need to worry, our services are very affordable and cost saving. Trust us to never lose but always gain</p>
                    </div>
                </div>


                <!---Third title-->
                <h2>• Pre Booking Online</h2>


                <!--Feature description-->
                <div class="feature-desc">
                    <div class="feature-icon"></div>

                    <!--Feature text-->
                    <div class="feature-text">
                        <p>Customers are free within their own space and time to request for garden services
 This makes it easy  and stress free in using our system</p>
                    </div>
                </div>





            </div>
              <!---Feature image-->
            <div class="feature-img">
             <%= image_tag "garden_2.jpg", height: 600 %>
            </div>

        </div>

    </section>

    
    <!----SECTION 3-->
    <section id="service">
        <div class="title-text">
            <p>SERVICES</p>
            <h1>We Provide Better Service </h1>
        </div>

        <div class="service-box">


            <!----First service rendered-->
            <div class="single-service">
                <%= image_tag "prunning.jpg", height: 350 %>

                <!--Adding an overlay effect to out image-->
                <div class="overlay"></div>

                <!---Adding service description which will be displayed on the image-->
                <div class="service-desc">
                    <h3>Prunning Plants to promote healthy growth</h3>
                    <hr>
                    <!---This is for a horizontal line-->
                    <p>Pruning is common practice in vineyard management for the improvement of flowering and fruit.We therefore create an enviroment for optimum growth for your garden</p>

                </div>
            </div>

            <!----Second service rendered-->
            <div class="single-service">
                 <%= image_tag "plant.jpg", height: 350 %>

                <!--Adding an overlay effect to out image-->
                <div class="overlay"></div>

                <!---Adding service description which will be displayed on the image-->
                <div class="service-desc">
                    <h3>Planting and Seedlings</h3>
                    <hr>
                    <!---This is for a horizontal line-->
                    <p>We offer planting and seedling services to improve the serenity of the homes of our customers and offer adequate attention to plants properly.</p>

                </div>
            </div>


            <!----Third service rendered-->
            <!--This class contains the image, service description and hover effect-->
            <div class="single-service">

                 <%= image_tag "pest.jpg", height: 350 %>

                <!--Adding an overlay effect to out image-->
                <div class="overlay"></div>

                <!---Adding service description which will be displayed on the image-->
                <div class="service-desc">
                    <h3>Pest Control & Disease Control Measures</h3>
                    <hr>
                    <!---This is for a horizontal line-->
                    <p>We have the best pesticides approved by the FDA to take out pests and diseases which may cause harm to our plants.</p>

                </div>
            </div>


            <!----Fourth service rendered-->
            <div class="single-service">
                 <%= image_tag "weeding.jpg", height: 350 %>

                <!--Adding an overlay effect to out image-->
                <div class="overlay"></div>

                <!---Adding service description which will be displayed on the image-->
                <div class="service-desc">
                    <h3>Weeding Planted Areas</h3>
                    <hr>
                    <!---This is for a horizontal line-->
                    <p>We also take out weeds that grow around our beautiful plants to help them grow properly</p>

                </div>
            </div>


        </div>

    </section>



    <!---SECTION 4-->
    <section id="testimonial">
        <div class="title-text">
            <p>TESTIMONIALS</p>
            <h1>What Client Says</h1>
        </div>

        <!--Row to hold our columns of uer's given their testimonials-->
        <div class="testimonial-row">

            <!--Client 1 testimonial-->
            <div class="testimonial-col">
                <div class="user">
                   <%=image_tag 'addo.jpg', height:50%>
                    <div class="user-information">
                        <h5>BEDIAKO<i class="fa fa-twitter"></i></h5>
                        <small>@yawaddo</small>
                    </div>
                </div>
                <p>Dave has been mowing for us now for the past 4 years, reliable and friendly has never let us down. He has also carried out some winter work I asked for removing Ivy from the side of the garage......recommended.I wish there were more people like him in business..</p>

            </div>

            <!--Client 2 testimonial-->
            <div class="testimonial-col">
                <div class="user">
                   <%=image_tag 'ben.jfif', height:50%>
                    <div class="user-information">
                        <h5>BERNARD ADDAI<i class="fa fa-twitter"></i></h5>
                        <small>@benardo</small>
                    </div>
                </div>
                <p>Thank you for the superb job you have just completed on our driveway. You are to be commended for the thoroughness of your work, and I am pleased that I was fortunate to be on the receiving end of your attention. .</p>
            </div>


            <!--Client 3 testimonial-->
            <div class="testimonial-col">
                <div class="user">
                    <%=image_tag 'ruth.jfif', height:50%>
                    <div class="user-information">
                        <h5>RUTH ANSAH<i class="fa fa-twitter"></i></h5>
                        <small>@ruthansah</small>
                    </div>
                </div>
                <p>Laud has been absolutely amazing throughout this whole process. I can’t fault him in any way. He responded immediately to my enquiry, he was reliable with all appointments, the quality of his work is outstanding, his pricing is extremely reasonable and he is a real pleasure to deal with. I wish there were more people like him in business. I will definitely be using his services again when necessary.</p>
            </div>


        </div>


    </section>







</body>

</html>