<p id="notice"><%= notice %></p>









<div class="jumbotron">
<h2 class="display-4" style="text-decoration:underline">
<strong><%='Customer Service Feedback'%></strong>
</h2> 
  <h3 class="display-4">
  
  </h3>
  <p class="lead m-2">
 
   <p>
  <strong>Customer's name:</strong>
  <%= @feedback.customer_name %>
</p>

<p>
  <strong>Customer's phone number:</strong>
  <%= @feedback.phone_number %>
</p>
<p>
  <strong>Gardener's name:</strong>
  <%= @feedback.gardener_name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @feedback.rating %>
</p>
<p>
  <strong>Additional Comments:</strong>
  <%= @feedback.addtional_comments %>
</p>

  
  </p>
  <hr class="my-4">
 
  <p class="lead">
    
 
 <%if users_authentication_signed_in?%>   
<%= link_to 'Edit Feedback', edit_feedback_path(@feedback), class:"btn btn-secondary" %> 
<%= link_to 'Back',rails_admin_path , class:"btn btn-primary" %>
<%else%> 
<%= link_to 'Back', root_path, class:"btn btn-primary" %>
<%end%>

  </p>
</div>





















