<p id="notice"><%= notice %></p>

<h1>Gardeners</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Residential address</th>
      <th>Ratings</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gardeners.each do |gardener| %>
      <tr>
        <td><%= gardener.first_name %></td>
        <td><%= gardener.last_name %></td>
        <td><%= gardener.phone %></td>
        <td><%= gardener.residential_address %></td>
        <%if customers_url==customers_path%>
        <td><%= link_to 'Show', gardener, class:'btn btn-warning' %></td>
        <td><%= link_to 'Edit', edit_gardener_path(gardener), class:'btn btn-success' %></td>
        <td><%= link_to 'Delete', gardener, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
<%= link_to 'New Gardener', new_gardener_path %>
       <%else%>
       <td></td>
      <td><%= link_to 'Request for Service', gardener,class:'btn btn-success',data: { confirm: 'Are you sure you want to request for his service?' }%></td>
      
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path, class:"btn btn-primary" %>
