<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @gardener.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @gardener.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @gardener.phone %>
</p>

<p>
  <strong>Residential address:</strong>
  <%= @gardener.residential_address %>
</p>

<%= link_to 'Edit', edit_gardener_path(@gardener) %> |
<%= link_to 'Back', gardeners_path %>
